* {
    font-family: 'Raleway', sans-serif;
}

.green-highlight {
    color: rgb(82, 235, 82);
}

.buy-now {
    background-color: rgb(0, 0, 95);
    border-radius: 0.5em;
}

.backpack-card {
    border: 0;
}

.backpack-card-footer {
    background-color: white;
    border: 0;
}

.thumbnail {
    background-color: rgba(84, 85, 84, 0.3);
    border-radius: 0.35em;
}

.footer {
    background-color: white;
    margin: o0x auto;
    padding: 20px 0px 20px 0px;
}

.col-auto {
    font-size: smaller;
}

.details-form {
    background-color: rgba(66, 68, 66, 0.3);
    border: greenyellow;
    border-radius: 0.5em;
}

.mr-gutters {
    border-radius: 0.5em;
}